.App {
  text-align: center;
}

body {
  background-color: black;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Multisig {
  text-align: center;
}

.Home-link {
  margin: 20px;
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: -4px;
  color: white;
}

.Home-link:hover {
  text-decoration: underline;
  color: white;
}
